# Dependencies
node_modules/

# Frontend and Rust build targets
dist/
target/
src-tauri/target/

# Local input and output runs
input/
output/
release/

# Neural model binary weights
models/*.bin

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log